@page "/"
<Button>Button</Button>
<Button Color="Color.Primary" Name="primary">Primary</Button>
<Button Color="Color.Secondary" Name="secondary">Secondary</Button>
<Button Color="Color.Info" Name="Hello World">Info</Button>
<Button Color="Color.Warning" Name="This is a warning button">Warning</Button>
<Button Color="Color.Success" Name="I am successful">Success</Button>
<Button Color="Color.Danger" Name="Watch out!!!">Danger</Button>
<Button Color="Color.Light" Name="light">Light</Button>
<Button Color="Color.Dark" Name="dark">Dark</Button>
